@font-face {
    font-family: MuseoSansRounded900;
    src: url(fonts/MuseoSans/MuseoSansRounded900.otf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
}

html {
    font-size: 62.5%;
    font-family: RalewayRegular, sans-serif;

    --primary-bg: #ffe0e0;
    --primary-fg: #fe4500;
    --secondary-bg: #b3a0a0;
    --secondary-fg: #ffffff;
    --nav-size: 12rem;
    --section-height: calc(100vh - 18rem);
}

body {
    font-size: 2rem;
}

section {
    max-width: 120rem;
    margin: 5rem auto;
    padding: 0 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-fg);
    font-family: MuseoSansRounded900, sans-serif;
}

img {
    max-width: 80vw;
}

span {
    display: inline-block;
    color: black;
}

span::first-letter {
    color: var(--primary-fg);
}

h1 {
    font-size: 5rem;
}

h2 {
    margin: 4rem 0 2rem;
    font-size: 3rem;
}

h3 {
    margin: 2rem 0;
}

p {
    margin: 2rem 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    max-width: 100%;
    background-color: var(--primary-bg);
    font-size: 10rem;
    padding: 3rem 0;
}

.title h1 {
    font-size: 5rem;
}

.title img {
    margin: 3rem 0;
}

.horizontal-collapse {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.what-we-do .horizontal-collapse {
    justify-content: space-around;
}

.what-we-do .horizontal-collapse>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}

.what-we-do .horizontal-collapse img {
    max-width: 100%;
}

img.circle {
    border-radius: 100%;
}

.who-we-are img {
    max-width: 25.6rem;
    margin: 2rem;
}

.stack {
    display: grid !important;
    justify-items: center;
    align-items: center;
}

.stack>* {
    grid-column-start: 1;
    grid-row-start: 1;
}

.play-icon {
    width: 12rem;
}

.label {
    font-size: 5rem;
    color: white;
}

.speech-bubble {
    position: relative;
    background: var(--primary-bg);
    border-radius: 4rem;
    padding: 2rem 3rem;
    margin: 2rem;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 20px solid transparent;
}

.speech-bubble.left:after {
    top: 50%;
    right: 0;
    border-right: 0;
    margin-top: -2rem;
    margin-right: -2rem;
    border-left-color: var(--primary-bg);
}

.speech-bubble.right:after {
    top: 50%;
    left: 0;
    border-left: 0;
    margin-top: -2rem;
    margin-left: -2rem;
    border-right-color: var(--primary-bg);
}


.logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: center;

    --logo-unit-size: 4rem;
}

.logos .logo {
    margin: 2rem;
    text-align: center;
    max-height: var(--logo-unit-size);
}

.logos .logo img {
    max-height: 100%;
}

.logos .patreon-logo {
    margin-right: calc(var(--logo-unit-size) / 4);
}

@media (max-width: 1000px) {
    .horizontal-collapse {
        flex-direction: column;
    }

    .speech-bubble.left:after {
        top: 100%;
        right: 50%;
        border: 20px solid transparent;
        border-bottom: 0;
        border-top-color: var(--primary-bg);
        margin-top: 0;
    }

    .speech-bubble.right:after {
        top: 100%;
        left: 50%;
        border: 20px solid transparent;
        border-top: 0;
        border-bottom-color: var(--primary-bg);
        margin: -20px -20px 0 0;
    }
}

@media (max-width: 700px) {
    .logos {
        grid-template-columns: 1fr;
    }
}
